body {
  background-color: var(--modal-bg-color);
  /* scrollbar-width: none; 
  -ms-overflow-style: none;  */
}

body::-webkit-scrollbar {
  display: none; 
}

.post-container:first-child {
  margin-top: calc(50vh - 30vh);
}

.post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.post {
  max-width: 600px;
  min-height: 80vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.post img,
.post div {
  max-width: 100%;
  max-height: 60vh;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 10px;
}

.post video {
  max-width: 100%;
  max-height: 60vh;
  object-fit: contain;
}

.post-info {
  margin-bottom: 10px;
}

.post-date {
  font-size: 14px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.post-description {
  font-size: 16px;
  margin-bottom: 5px;
}

.post-project {
  font-size: 14px;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.post-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-actions button {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .post {
    max-width: 100%;
    min-height: 70vh;
    padding-bottom: 20px;
  }

  .post-container:first-child {
    margin-top: calc(50vh - 28vh);
  }

  .post img,
  .post div {
    max-height: 50vh;
  }

  .post video {
    max-height: 50vh;
  }
}

@media screen and (max-width: 375px) {
  .post-container:first-child {
    margin-top: calc(50vh - 27vh);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: var(--modal-bg-color);
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 80vh;
  overflow: auto;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-content::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
}

.close {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--secondary-color);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1000;
}

.close:hover,
.close:focus {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  margin-bottom: 20px;
}

.modal-description {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-date {
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 5px;
}

.modal-project {
  font-size: 14px;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.modal-cover-image {
  margin-bottom: 20px;
}

.modal-cover-image img,
.modal-cover-image video {
  max-width: 100%;
  max-height: 60vh;
  object-fit: contain;
}

.modal-media-item {
  margin-bottom: 20px;
}

.modal-media-item iframe {
  border: none;
  margin-bottom: 10px;
}

.modal-media-item img,
.modal-media-item video {
  max-width: 100%;
  max-height: 60vh;
  object-fit: contain;
}

.modal-open {
  overflow: hidden;
}

.full-screen-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.full-screen-modal-close {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
}

.full-screen-content-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px; /* Add padding to the top */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.full-screen-content-container iframe {
  position: absolute;
  top: 60px; /* Adjust the top position to match the padding */
  left: 0;
  width: 100%;
  height: calc(100% - 60px); /* Subtract the padding from the height */
  border: none;
}

.full-screen-image-container img {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}

.full-screen-content-container video {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}

.no-more-posts {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: var(--secondary-color);
}

.loading-indicator {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: var(--secondary-color);
}